/* .register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    
  }
  
  .register-header {
    padding: 0 100px;
  }
  
  .login-input{
    padding: 5px 20px;
    margin: 5px;
  }
  
  .password-input{
    padding: 5px 20px;
    margin: 5px;
  }
  
  .register-btn{
    margin: 5px 0 15px;
    padding: 4px 15px;
  }
   */