.messages-container {
  position: absolute;
  top: 70px;
  right: 0px;
  left: 0;
  bottom: 70px;
  overflow: auto;
  padding: 0 50px 0 50px;
  background-color: #272e47;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column-reverse;
}

.messages-container::-webkit-scrollbar {
  position: relative;
  bottom: 0;
  width: 6px;
  height: 6px;
}
.messages-container::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  height: 90%;
}
.messages-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}
.messages-container-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
.messages-container::-webkit-scrollbar-thumb:active {
  background: rgba(10, 10, 10, 0.9);
}
