.chat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.inner-chat-container {
  position: fixed;
  left: 340px;
  right: 20px;
  top: 20px;
  bottom: 20px;
}
