/* ContentSender */

.content-sender {
  display: table;
  max-width: 80%;
  margin: 10px 0px 10px auto;
  background-color: #493da7;
  border-radius: 20px;
}

.inner-content-sender {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.sender-text {
  padding: 0;
  margin: 10px 15px 10px 10px;
  overflow-wrap: break-word;
  word-break: break-all;
  color: #9ca2af;
}

.sender-time {
  align-self: flex-end;
  margin: 0 10px 5px 0px;
  font-size: 12px;
  color: #808080;
}

/* ContentRecipient */

.content-recipient {
  display: table;
  max-width: 80%;
  margin: 10px 0px 10px 0px;
  background-color: #273153;
  border-radius: 15px;
}

.inner-content-recipient {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.recipient-name-text {
  display: flex;
  flex-direction: column;
}

.recipient-name {
  margin: 10px 0 0 10px;
  color: #e34234;
}

.recipient-text {
  padding: 0;
  margin: 3px 15px 10px 10px;
  overflow-wrap: break-word;
  word-break: break-all;
  color: #9ca2af;
}

.recipient-time {
  align-self: flex-end;
  font-size: 12px;
  margin: 0;
  margin: 0 10px 5px 0px;
  color: #808080;
}
